.Button {
  @include textBody(20px, -1px);
  font-weight: 500;
  display: flex;
  padding: 15px 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background-color: transparent;
  color: $white;
  border: none;
  cursor: pointer;

  &--gold {
    background-color: $secondary700;
  }
  &--goldBorder {
    border: 3px solid $secondary700;
  }
  &--purple {
    background-color: $buttonPurple;
  }
  &--blur {
    padding: 13px 15px;
    border: 1px solid $white;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(26px);
    font-size: 14px;
  }
  @include breakpoint(mobile) {
    @include textBody(16px, -1px);
    padding: 15px !important;
  }
}
