.Button {
  @include textBody(20px, -1px);
  font-weight: 500;
  display: flex;
  padding: 15px 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background-color: transparent;
  color: $white;
  border: none;
  cursor: pointer;

  &--large {
    padding: 15px 0;
  }

  &[disabled="disabled"],
  &:disabled {
    background-color: grey;
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
  &--gold {
    background-color: $secondary700;
  }

  &--goldBorder {
    border: 3px solid $secondary700;
  }
  &--whiteBorder {
    border: 1px solid $white;
    padding: 12px 30px;
    &.Button--active {
      background-color: $white;
      color: black;
    }
  }
  &--purple {
    background-color: $buttonPurple;
    &--marginTop {
      background-color: $buttonPurple;
      margin-top: 20px;
    }
  }
  &--blur {
    padding: 13px 15px;
    border: 1px solid $white;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(26px);
    font-size: 14px;
    width: max-content;
  }
  
  &--whiteBorder {
    letter-spacing: -0.25px;
    
  }
  &--login {
    background-color: $secondary700;
    color: $white;
  }
  &--logout {
    background-color: $redError;
    color: $white;
  }
  &--viewAll {
    width: 80px;
    border: 1px solid $white;
    padding: 12px 30px;
    margin: 0 0 !important;
    @include breakpoint(mobile) {
      display: none;
    }
    &--mobile {
      display: none;
      @include breakpoint(mobile) {
        display: flex;
        margin-left: auto!important;
      }
    }
  }
  &--verifyCaptcha {
    width: 80px !important;
    background-color: $secondary700;
    color: $white;
  }
  @include breakpoint(mobile) {
    @include textBody(16px, -1px);
    padding: 15px !important;
    margin: 0 auto !important;
  }
}
