.WalletMainInfos {
  &__item {
    @include textBody(14px);
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: auto;
    background-color: $primary500;
    border-radius: 10px;
    gap: 20px;
    margin-bottom: 20px;
    &--value {
      color: $greyColor;
    }
    &--cursor {
      cursor: pointer;
    }
  }

  &__infos {
    h2 {
      @include textBody(16px);
    }
    p {
      @include textBody(14px);
      margin: 0;
    }
  }

  &__rightIcon {
    margin-left: auto;
    margin-right: 10px;
    color: $greyColor;
  }
}
