.UserInfos {
  padding: 20px 20px 20px 0;
  width: 60%;
  @include breakpoint(tablet) {
    width: 100%;
  }
  &__product {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    &::after {
      content: '';
      background: #b39e73;
      height: 80px;
      width: 1px;
      position: absolute;
      left: 160px;
      bottom: 50%;
      transform: translateY(50%);
      @include breakpoint(tablet) {
        left: 140px;
      }
    }
    &__image {
      max-width: 140px;
      height: auto;
      @include breakpoint(tablet) {
        max-width: 120px;
      }
    }


    &__title {
      @include textBody(25px);
      color: $secondary500;
      @include flexCenter;
      display: inline-block;
      @include breakpoint(tablet) {
        font-size: 20px
      }
    }

   &__price {
      @include textBody(18px);
      @include breakpoint(tablet) {
        font-size: 14px
      }
    }
    &__item {
      @include textBody(13px);
      @include breakpoint(tablet) {
        font-size: 11px
      }
      span {
        font-weight: 700;
      }
    }

    &__description {
      @include textBody(14px);
      @include textOverflowWithLines(3);
      @include breakpoint(tablet) {
        font-size: 11px
      }
    }
  }
}
