.ArtistCardSlider {
  position: relative;
  width: 100%;
  height: 380px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
  border-radius: 17px;
  @include breakpoint(mobile) {
    height: 270px;
  }
  &__infos {
    @include positionAbsoluteCenterX;
    bottom: 20px;
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    @include breakpoint(mobile) {
      align-items: flex-start;
      flex-direction: column;
    }
  }
  &__name {
    margin-right: 5px;
    width: 90px;
    @include titleMontserrat(20px, -1.5px);
    @include breakpoint(mobile) {
      margin-bottom: 15px;
      @include titleMontserrat(16px, -1.5px);
    }
    @include breakpoint(tablet) {
      width: auto;
    }
  }
  .Button {
    @include breakpoint(mobile) {
      margin-left: 0;
      @include textBody(14px, -1px);
      padding: 15px 20px;
      width: -webkit-fill-available;
    }
    margin-left: 5px;
  }
}
