// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&family=Montserrat:wght@400;600;700;800&family=Poppins:wght@100;300;400;500;600;700&family=Syncopate:wght@700&display=swap');

// UTILS
@import './utils/mixins.scss';
@import './utils/variables.scss';

// COMPONENTS
@import './components/Header/Header.scss';
@import './components/Header/HeaderMenu.scss';

@import './components/Footer.scss';

@import './components/Button.scss';

// CARD
@import './components/Card/ArtistCard.scss';
@import './components/Card/ArtistCardSlider.scss';
@import './components/Card/NftCard.scss';

// LIST
@import './components/List/List.scss';
@import './components/List/ListHeader.scss';
@import './components/List/ArtistsListSlider.scss';

// MODAL
@import './components/Modal/Modal.scss';
@import './components/Modal/BuyModal.scss';

// POPUP
@import './components/Popup/Popup.scss';
@import './components/Popup/FilterPopup.scss';

// Pages

// LANDING
@import './pages/landing/Intro.scss';
@import './pages/landing/ContactUs.scss';

// NFT
@import './pages/nft/NftPage.scss';
@import './pages/nft/subComponents/NftFilters.scss';
@import './pages/nft/subComponents/NftIntro.scss';
@import './pages/nft/subComponents/NftGraphic.scss';

// ARTIST
@import './pages/artist/ArtistPage.scss';

// Wallet
@import './pages/wallet/WalletPage.scss';
@import './pages/wallet/WalletEmptyState.scss';
@import './pages/wallet/subComponents/WalletNav.scss';
@import './pages/wallet/subComponents/WalletHistory.scss';
@import './pages/wallet/subComponents/WalletMainCoin.scss';
@import './pages/wallet/subComponents/WalletGlobalView.scss';
@import './pages/wallet/subComponents/WalletNftList.scss';
@import './pages/wallet/subComponents/WalletNftMain.scss';

body {
  color: $white;
  background: $primary700;
}

* {
  scroll-behavior: smooth;
}

.container {
  max-width: $containerMaxWidth;
  margin: 0 auto;
  margin-top: $headerHeight;
  @include breakpoint(mediumDesktop) {
    max-width: 90%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme('borderColor.DEFAULT', currentColor);
}

a {
  color: inherit;
  text-decoration: inherit;
}

input:focus {
  outline: none;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  display: none;
}

::-webkit-scrollbar-thumb {
  background: $borderColor;
  -webkit-box-shadow: none;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: none;
}
