// FONTS
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&family=Montserrat:wght@400;600;700;800&family=Poppins:wght@100;300;400;500;600;700&family=Syncopate:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Funnel+Display:wght@300..800&display=swap');
// UTILS
@import "./utils/mixins.scss";
@import "./utils/variables.scss";

// Components
@import "./components/ListOfItems.scss";
@import "./components/FilterSidebar.scss";
@import "./components/AppliedFilters.scss";
@import "./components/ItemCard.scss";

// Pages

// NFT

// Dashboard
@import "./pages/dashboard/DashboardNav.scss";
@import "./pages/dashboard/Dashboard.scss";
@import "./pages/dashboard/subComponents/Profile.scss";
@import "./pages/dashboard/subComponents/Orders.scss";

// Basket
@import "./pages/checkout/CheckoutPage.scss";
@import "./pages/checkout/subComponents/Cart.scss";
@import "./pages/checkout/subComponents/UserInfos.scss";

// Wallet
@import "./pages/wallet/WalletPage.scss";
@import "./pages/wallet/WalletEmptyState.scss";
@import "./pages/wallet/subComponents/WalletMainInfos.scss";
@import "./pages/wallet/subComponents/WalletMainCoin.scss";
@import "./pages/wallet/subComponents/WalletNftList.scss";
@import "./pages/wallet/subComponents/WalletNftMain.scss";
@import "./pages/wallet/subComponents/WalletTransactionHistory.scss";


body {
  color: $white;
  background: $primary700;
}

* {
  scroll-behavior: smooth;
}

.container {
  max-width: $containerMaxWidth;
  margin: 0 auto;
  margin-top: calc($headerHeight + 40px);
  @include breakpoint(mediumDesktop) {
    max-width: 90%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme("borderColor.DEFAULT", currentColor);
}

a {
  color: inherit;
  text-decoration: inherit;
}

input:focus {
  outline: none;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  display: none;
}

::-webkit-scrollbar-thumb {
  background: $borderColor;
  -webkit-box-shadow: none;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: none;
}
