.Intro {
  position: relative;
  width: 100%;
  display: inline-block;
  // min-height: calc(100vh - $headerHeight);

  &__infos {
    margin-top: 80px;
    width: 45%;
    margin-bottom: 250px;
    @include breakpoint(tablet) {
      margin-top: 15px;
      margin-bottom: 0;
      width: 80%;
    }
  }
  &__title {
    @include textBody(70px, -1.5px);
    font-weight: 500;
    line-height: 78px;
    @include breakpoint(tablet) {
      font-size: 32px;
      line-height: 40px;
    }
  }
  &__description {
    @include textBody;
    width: 80%;
    margin-top: 70px;

    @include breakpoint(tablet) {
      margin-top: 30px;
    }
  }
  &__buttons {
    display: flex;
    margin-top: 60px;
  }

  &__imgs {
    display: flex;
    position: absolute;
    left: 40%;
    top: 87px;
    img {
      &.Intro__letterImg {
        width: 70px;
        height: max-content;
        margin-top: auto;
        margin-right: 60px;
      }
      &.Intro__castleImg {
        max-width: 600px;
      }
    }
    @include breakpoint(tablet) {
      display: none;
    }
  }

  &__mobileImg {
    display: none;
    margin: 0 auto;
    margin-top: 60px;
    @include breakpoint(tablet) {
      display: block;
    }
  }

  &__rectangle {
    position: absolute;
    z-index: -1;
    background-color: $backgroundGrey;
    height: 200px;
    width: 70%;
    left: 0;
    bottom: 0;
    @include breakpoint(tablet) {
      display: none;
    }
  }

  &__verticalText {
    @include textNav(48px);
    font-weight: 200;
    position: absolute;
    text-transform: uppercase;
    right: 0;
    top: 0;
    transform-origin: bottom right;
    transform: rotate(-90deg) scale(1, 1);
    &::before {
      content: '';
      width: 200px;
      height: 2px;
      background-color: $white;
      display: block;
      @include positionAbsoluteCenter;
      left: -140px;
    }
    @include breakpoint(tablet) {
      font-size: 16px;
    }
  }
}
