.Wallet {
  &__title {
    @include textBody(24px, -1.5px);
    font-weight: 500;
    margin-bottom: 10px;
  }
  &__nav,
  &__main,
  &__list {
    grid-row: 1 / span 2;
    .Wallet__content {
      height: 490px;
      padding: 30px 20px;
    }
    @include breakpoint(tablet) {
      grid-row: auto;
      .Wallet__content {
        height: auto;
        padding: 15px;
        overflow: scroll;
      }
    }
  }

  &__rightTop {
    @include breakpoint(tablet) {
      grid-row: 2;
    }
    .Wallet__content {
      height: 80px;
      padding: 10px;
    }
  }
  &__rightBottom {
    .Wallet__content {
      height: 380px;
    }
  }
  &__content {
    border-radius: 20px;
    border: 1px solid $borderColor;
    background: $backgroundGreySecondary;

    @include breakpoint(tablet) {
      height: auto !important;
      padding: 15px;
      overflow: scroll;
    }
  }
}
