.LoginModal {
  padding-bottom: 50px;
  max-height: 90vh;
  overflow: hidden;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    max-height: 78vh;
    overflow-x: hidden;
    overflow-y: scroll;
    @include breakpoint(mobile) {
      width: 85%;
    }
  }

  &__infos {
    margin-top: 30px;
  }

  &__title {
    @include titleMontserrat(48px, 0px);
    font-weight: 700;
    color: $white;
    @include breakpoint(mobile) {
      font-size: 28px;
    }
  }
  &__description,
  &__link {
    @include textNav(14px);
    font-weight: 400;
    text-align: left;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  &__link {
    cursor: pointer;
    @include textNav(14px);
    color: $secondary700;
  }
  &__flex {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__label {
    position: absolute;
    @include titleMontserrat(14px, 0px);
    z-index: 10;
    top: 7px;
    left: 35px;
    background: $backgroundGreySecondary;
    padding: 0 10px;
  }

  &__introImg {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
    @include breakpoint(mobile) {
      width: 100%;
      height: 100px;
    }
  }

  &__form {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 15px;
    &--signup {
      max-width: 420px;
    }
  }
  &__formItem {
    position: relative;
    width: 100%;
  }

  &__input {
    color: $white;
    border-radius: 10px;
    border: 2px solid $secondary700;
    background: transparent;
    width: calc(100% - 34px);
    height: 40px;
    padding: 10px 15px;
    @include textBody;
    margin-top: 15px;
    &:focus,
    &:focus-visible {
      background: transparent;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: $white;
    }
  }

  &__errorMessage {
    @include textBody(14px);
    color: $redError;
    margin-top: 5px;
  }

  .Button {
    width: 100%;
    margin-top: 20px !important;
  }

  &__addressResult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 80px;
    z-index: 100;
    width: 100%;
    margin-top: 5px;
    border-radius: 10px;
  }
  &__addressDescription {
    cursor: pointer;
    @include textBody(14px);
    padding: 10px 5px;
    background: $backgroundGreyCard;
    border-bottom: 0.5px solid $borderColor;
    color: $secondary300;
    &:hover {
      background: $backgroundGreySecondary;
    }
  }
}
