// COLORS

$white: #ffffff;
$black: #000000;

$primary700: #1d1d1b;
$primary500: #52524c;
$primary300: #6b6b66;
$primary100: #86867f;

$secondary700: #b39e73;
$secondary500: #c6b695;
$secondary300: #d8cdb6;
$secondary100: #eae4d7;

$backgroundBlack: #212224;
$backgroundGrey: #393939;
$backgroundGreyCard: #525252;

$greyColor: #dedcd8;

$headerBackground: rgba(31, 31, 29, 0.5);

$buttonPurple: #786df2;

// WIDTHS and HEIGHTS
$headerHeight: 80px;
$headerHeightMobile: 50px;

$footerHeight: 440px;
$footerHeightMobile: 240px;

$containerMaxWidth: 1414px;
