.List {
  margin-top: 100px;
  @include breakpoint(tablet) {
    margin-top: 60px;
  }
  &__title {
    display: inline-block;
    font-weight: 600;
    padding: 25px 0;
    border-bottom: 3px solid $secondary700;
    margin-bottom: 35px;
    @include titleMontserrat(36px);
    @include breakpoint(mobile) {
      @include titleMontserrat(24px);
    }
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 26px;

    @include breakpoint(smallDesktop) {
      gap: 30px;
    }
    @include breakpoint(tablet) {
      gap: 20px;
    }
  }

  .Button--whiteBorder.onlyToBuy {
    margin-top: 20px !important;
    margin-left: 0!important;
  }
}
