.FilterPopup {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 70vh;
  overflow: scroll;
  &__filter {
    display: flex;
    align-items: center;
    font-weight: 500;
    @include textBody(18px, -0.25px);
    label {
      margin-left: 20px;
    }
    input[type='checkbox'] {
      cursor: pointer;
      -webkit-appearance: none;
      appearance: none;
      background-color: transparent;
      margin: 0;
      font: inherit;
      color: $white;
      width: 28px;
      height: 28px;
      border: 2px solid $white;
      border-radius: 5px;
      transform: translateY(-0.075em);
      display: grid;
      place-content: center;
    }

    input[type='checkbox']::before {
      content: '';
      width: 14px;
      height: 14px;
      border-radius: 2px;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      background: $secondary700;
    }

    input[type='checkbox']:checked::before {
      transform: scale(1);
    }
  }
}
